/*Used for CurretWeather.js and ForecastWeather.js components*/

.WeatherContainerCurrent{
    background-color: #2d3035;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    text-align: center;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
}

.h4Mod{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.pMod{
    font-size: small;
}

.infoBox{
    display: flex;
    text-align: center;
    flex:1;
}

.imgThenText{
    width: max-content;
    padding: 5px;
    flex:1;
}